h1{color:#34D5D5;font-family: "Gorgeia"; font-size: 36px; outline-style: double; text-align: center;}
body{background:#FAFFFF;font-family: "sofia", sans-serif; font-size: 12px; }
a{color:#5D1E1E;}
p{color:#4F331F; font-size: 18px; font-family: "TimesNewRoman"} 
h1{text-shadow: 2px 2px 5px #34D5D5;}
img{display: block;margin-left: auto; margin-right: auto; border: 10px solid #fff; border-radius: 10px; padding: 5px; width: 260px;}
h2{outline-style: double; text-align: center;}
h3{outline-style: double; text-align: center;}}